html {
  font-family: Cabin, Helvetica
}

div.container {
  margin: 0 auto;
  width: 90%;
}

#searchResults {
  padding: 0 25px;
}

.entry {
  border: solid gray 0.5px;
  border-left: solid orange 10px;
  background-color: #ECECEC;
  padding: 0 15px;
  margin: 5px 0;
}

.entry h2 {
  text-decoration: underline;
}

.entry p {
  padding-left: 10px
}

a {
  color: black;
  text-decoration: none;
}

form {
  padding: 10px 20px;
}

#searchField {
  width: 300px;
  display: block;
  margin-bottom: 15px;
}

#submitButton {
  width: 120px;
}

.button {
  font-family: sans-serif;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}